<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="static/css/style.css")
        title Document
    body
        .tabs
            ul.tabs__caption
                li.active.tab1 1-я вкладка
                li.tab2 2-я вкладка
                li.tab3 3-я вкладка
            .tabs__content.active.tab1
                | 1
            .tabs__content.tab2
                | 2
            .tabs__content.tab3
                | 3
        script(src="static/js/libs.min.js")
        script(src="static/js/main.min.js")