<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="static/css/style.css")
        title Document
    body
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit temporibus dolorem voluptatibus sapiente! Nobis ad aliquam quibusdam quos recusandae enim praesentium repellat reiciendis accusamus? Vel quas, assumenda dolore architecto cupiditate delectus libero corrupti nobis voluptatibus at possimus praesentium numquam, minima quidem explicabo molestiae dolorum nemo est. Minima ab, iste deleniti, atque corporis porro hic consequatur necessitatibus magni rem ex architecto, excepturi in quasi quibusdam. Ipsa eligendi ratione ipsum blanditiis numquam a quod nemo quibusdam, cum, illo, enim quo. Praesentium ipsam error dignissimos ut eligendi pariatur nemo omnis recusandae! Id nemo tempore cum incidunt quia deserunt animi beatae non expedita atque.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, dolor.
        p Test
        .slider
            .slider-item
            .slider-item
            .slider-item
            .slider-item
            .slider-item
        script(src="static/js/libs.min.js")
        script(src="static/js/main.min.js")